@import "../defaults";

.container {
    text-align: center;

    h1 {
        color: $title;
    }

    h2 {
        color: $title;
    }

    p {
        color: $text;
    }

    section.content {
        padding: 0 4px;
    }

    section.projects,
    section.contact {
        ul {
            display: flex;
            flex-wrap: wrap;

            @include media("<medium") {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    section.contact {
        a {
            margin-right: 1rem;
        }
    }
}
