@import "../defaults";

.container {
    position: relative;
    width: 28vw;
    height: 28vw;
    min-width: 280px;
    min-height: 280px;
    margin: 0 2rem 2rem 0;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 14px 14px 60px -10px #0000004d;

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .projectLink {
            h2 {
                position: relative;
                z-index: 10;
                margin: 0.5rem 0 1rem 0;
                font-size: 1.6rem;
                text-align: center;
                color: $title;
            }
        }

        section {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            transition: opacity 0.3s, background-color 0.3s;
            opacity: 0;

            p {
                flex: 1;
                margin-top: 3.1rem;
                color: $text;
            }
        }

        section:hover {
            opacity: 1;
            background-color: #000c;
        }
    }

    @include media(">medium", "<big") {
        min-width: 250px;
        min-height: 250px;
    }
    @include media(">small", "<medium") {
        min-width: 380px;
        min-height: 380px;
    }
    @include media("<very-small") {
        min-width: 240px;
        min-height: 240px;
    }
}
