@import "defaults";

html,
body {
  padding: 0;
  margin: 0;

  background-color: $background-color;

  a,
  a:hover {
    text-decoration: none;
    color: $title;
  }
}

* {
  box-sizing: border-box;

  font-family: $primary-font;
  font-weight: 100;
}
